@import url(reset.css);

main {
  background: #f2f6ff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 400px;
}

button {
  width: 100%;
  box-sizing: border-box;
  margin-top: 24px;
  height: 46px;
  border-radius: 8px;
}

main form button {
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 0 120px;
}
.blue {
  background: #267fff;
}
.red {
  background: #df5050;
}

.green {
  background: #54b254;
}
